{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div style="display:block; margin:15px;" class="row">
    <div class="col-md-8">
    <h1>Check Ownership</h1>
    <hr>
    {{ wtf.quick_form(form) }}


         {% if result[1] %}
        <br/>
        <div class="ml-2">
          <h4 >
              Asset : {{result[1]}}<br/><br/>
        Number of token : {{result[0]}}    </h4>
        </div>
         {% endif %}

            </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
